altgraph==0.17.4
certifi==2025.8.3
charset-normalizer==3.4.3
filelock==3.19.1
fsspec==2025.9.0
future==1.0.0
hf-xet==1.1.9
huggingface-hub==0.34.4
idna==3.10
inquirerpy==0.3.4
macholib==1.16.3
packaging==25.0
pfzy==0.3.4
prompt_toolkit==3.0.52
PyYAML==6.0.2
requests==2.32.5
six==1.17.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
wcwidth==0.2.13
